
  <div id="player"></div>

  <div id="wrapper" class="">
    <div id="gif" style="background-image: url({{currentSlide.url}})"></div>
    <div id="chyron">
      <h1 ng-bind="currentSlideText"></h1>
    </div>
    <div id="title">
      <img src="/gifparade-logo.svg" width="216">
    </div>
    <div id="controls">
      <p id="toggle-audio" class="audio-on" data-playing="true">
        <a href="#">turn audio OFF</a>
      </p>
      <p id="get-short-url">
        <a href="#" id="get_url">get short URL</a>
      </p>
      <p id="copy-short-url" style="display:none;">
        <span id="copy_this"></span>
        <a href="#" id="copy_url" data-clipboard-target="copy_this" class="pre-copy">COPY</a>
      </p>
    </div>
  </div>

  <div id="belowfold">
    <%= render :partial => "form" %>
  </div>
